h1{
  color:aqua;
}
h2{
  color:white;
}
li{
  color:white;
}

.header {
  height: 50px;
  width: 100%;
  background-color:rgba(0,0,0,0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}
.container a{
  color :white;
  float:left;
  padding-left:60px;
  padding-top:17px;
}


.body{
  margin-top:50px;
  height: 1000px;
  width:100%;
  background-image: url("/static/maeda3gou1929010_TP_V4.jpg");

}

.profile{
  margin:0 auto;
}
.footer{
  height:90px;
}
